<div class="card mb-3 movie-card">
    <div class="card-img-container">
        <img *ngIf="movie.Poster !== 'N/A'" [src]="movie.Poster" alt="Movie Poster" class="card-img-top fixed-image">
        <img *ngIf="movie.Poster === 'N/A'"
            src="https://images.unsplash.com/photo-1509281373149-e957c6296406?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=728&q=80"
            alt="Placeholder Image" class="card-img-top fixed-image">
    </div>
    <div class="card-body d-flex flex-column">
        <h5 class="card-title"><strong>{{ movie.Title }}</strong></h5>
        <p class="card-text"><strong>{{ movie.Year }}</strong></p>
        <p class="card-text"><strong>{{ movie.Type }}</strong></p>
        <div class="mt-auto">
            <button class="btn btn-primary" (click)="navigateToMovieDetails(movie.imdbID)">View Details</button>
        </div>
    </div>
</div>