<nav class="navbar navbar-expand-lg bg-dark mb-4 mt-4" data-bs-theme="dark">
    <div class="container-fluid">
        <h1 class="navbar-brand">IMDB Lite</h1>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/top-rated">Top Rated Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/upcoming">Upcoming Movies</a>
                </li>
            </ul>
            <div class="d-flex" role="search">
                <input class="form-control me-sm-2" type="text" [(ngModel)]="searchTerm" placeholder="Search movies"
                    (keyup.enter)="searchMovies()">
                <button class="btn btn-secondary my-2 my-sm-0" (click)="searchMovies()">Search</button>
            </div>
        </div>
    </div>
</nav>