<div class="card mb-3 movie-card">
    <div class="card-img-container">
        <img *ngIf="movie.Poster !== 'N/A' && ck==false"
            [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path" alt="Movie Poster"
            class="card-img-top fixed-image">
        <img *ngIf="movie.Poster !== 'N/A' && ck==true" [src]="movie.Poster" alt="Movie Poster"
            class="card-img-top fixed-image">
        <img *ngIf="movie.Poster === 'N/A'"
            src="https://images.unsplash.com/photo-1509281373149-e957c6296406?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=728&q=80"
            alt="Placeholder Image" class="card-img-top fixed-image">
    </div>
    <div class="card-body d-flex flex-column">
        <h5 class="card-title"><strong>{{ movie.title }}</strong></h5>
        <div *ngIf="ck==false">
            <p class="card-text"><strong>{{ movie.release_date }}</strong></p>
            <!-- <p class="card-text">Type: {{ movie.type }}</p> -->
            <a class="btn btn-primary" [routerLink]="['/movie', movie.id]">View Details</a>
        </div>
        <div *ngIf="ck==true">
            <p class="card-text"><strong>{{ movie.Year }}</strong></p>
            <p class="card-text"><strong>{{ movie.Type }}</strong></p>
            <div class="mt-auto">
                <!-- <button class="btn btn-primary" (click)="navigateToMovieDetails(movie.imdbID)">View Details</button> -->
                <a class="btn btn-primary" [routerLink]="['/movies', movie.imdbID]">View Details</a>
            </div>
        </div>
    </div>
</div>