.movie-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform-origin: center center;
    border: none;

}

.movie-card:hover {
    opacity: 0.8;
    transform: scale(0.95);
}

.card-img-container {
    flex: 1;
    background-color: black;
}

.card-body {
    flex: 1;
}

.btn {
    width: 100%;
}

.fixed-image {
    height: 450px;
    object-fit: contain;
}