<h1>Movie Details</h1>
<div *ngIf="movieDetails">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" [src]="movieDetails.poster_path" alt="Movie Poster">
        </div>
        <div class="col-md-8">
            <h2>{{ movieDetails.title }}</h2>
            <p>Release Date: {{ movieDetails.release_date }}</p>
            <p>Type: {{ movieDetails.type }}</p>
            <p>Description: {{ movieDetails.overview }}</p>
            <!-- Add more details as needed -->
        </div>
    </div>
</div>
<div *ngIf="!movieDetails">
    <p>Loading movie details...</p>
</div>