<h1>{{title}}</h1>
<div *ngIf="movies.length > 0">
    <div class="row">
        <div class="col-md-3" *ngFor="let movie of movies" infiniteScroll [infiniteScrollDistance]="1"
            (scrolled)="onScroll()">
            <app-movie-card [movie]="movie" [ck]="false"></app-movie-card>
        </div>
        <div class="col-12" *ngIf="loading" style="text-align: center;">
            <div class="spinner-border text-primary"></div>
        </div>
    </div>
</div>
<div *ngIf="movies.length === 0" style="text-align: center;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>