<h1>Movie Details</h1>

<div *ngIf="movieDetails" class="movie-details">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid poster" [src]="'https://image.tmdb.org/t/p/original/' + movieDetails.poster_path"
                alt="Movie Poster">
        </div>
        <div class="col-md-8">
            <h2 class="title">{{ movieDetails.title }}</h2>
            <p class="info">
                <span class="release-date">Release Date: {{ movieDetails.release_date }}</span>
                <span class="language">Language: {{ movieDetails.original_language }}</span>
                <span class="type">Type: Movie</span>
            </p>
            <p class="overview">{{ movieDetails.overview }}</p>
            <div class="rating">
                <span class="label">Rating:</span>
                <span class="stars">
                    {{ movieDetails.vote_average }} / 10
                </span>
            </div>
            <div class="additional-fields">
                <p class="field"><span class="field-label">Popularity:</span> {{ movieDetails.popularity }}</p>
                <p class="field"><span class="field-label">Vote Count:</span> {{ movieDetails.vote_count }}</p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!movieDetails" class="loading">
    <p>Loading movie details...</p>
</div>